<!-- 
    Collectibles - Configuration : DEMO

    Two types of collectibles:
        - Server collectibles
        - Client collectibles
    
    Server collectibles:  [Useful for special server-wide events like Treasure Hunt or Easter-Egg Hunt]
        - Created on the server
        - Can be spawned when the resource starts automatically (auto_load)
        - Collected on the server (once collected, it is destroyed and other players won't be able to collect it)
        - Count is stored on the server temporarily by account name
        - Server admin is responsible for spawning and destroying collectibles
        - Once all have been collected, the server admin is responsible for respawning them
    
    Client collectibles:  [Good to always have on the server to keep players entertained looking for collectibles]
        - Created on the client
        - Can be spawned when the client joins automatically (auto_load)
        - Can be toggled on/off by the player (toggle_command, toggle_keybind)
        - Collected on the client (once collected, it is destroyed)
        - Count is stored on the client
        - Collection date is stored on the server permanently by account name
        - Collectibles respawn after X amount of time

    Important Notes:
        - Players not logged in are not able to collect collectibles due it being impossible to store data on guest accounts
-->
<config>
    <commands>
        <command name="manage">managecollectibles</command>
        <command name="spawn">spawncollectibles</command>
        <command name="destroy">destroycollectibles</command>
        <command name="resetplayer">resetplayercollectibles</command>
        <command name="points">collectiblespawns</command>
    </commands>
    <texts>
        <text name="command_syntax" color="255, 255, 255">SYNTAX: /%s %s</text>
        <text name="ask_to_wait" color="200, 200, 200">Please wait a bit before doing this again.</text>
        <text name="cant_pickup" color="255, 55, 55">You can&apos;t collect this now.</text>
        
        <text name="text_top" color="250, 189, 255">%s</text>
        <text name="text_bottom" color="255, 255, 255">%s of %s</text>
        <text name="cant_toggle" color="255, 0, 0">You can&apos;t toggle collectibles now.</text>
        <text name="already_collected" color="255, 0, 0">You already collected all %s collectibles (total %s).</text>
        <text name="toggle_on" color="255, 255, 255">You have found %s out of %s %s collectibles so far. Good luck!</text>
        <text name="toggle_off" color="255, 255, 255">You have hidden %s %s collectible(s).</text>
        <text name="respawned" color="255, 255, 255">%s collectible #%s has been respawned.</text>
        <text name="reward_money" color="55, 255, 55">You have earned $%s for collecting this %s.</text>
        
        <text name="admin_no_permission" color="255, 55, 55">You don&apos;t have permission to execute this command.</text>
        <text name="admin_count_spawned" color="255, 55, 55">There are currently %s %s collectibles spawned.</text>
        <text name="admin_spawned" color="5, 255, 5">You have spawned %s %s collectibles on the server.</text>
        <text name="admin_destroyed" color="5, 255, 5">You have destroyed the existing %s %s collectibles.</text>
        <text name="admin_invalid_collectible_type" color="255, 0, 0">Collectible type &apos;%s&apos; does not exist.</text>
        <text name="admin_invalid_account_id" color="255, 0, 0">User account ID %s does not exist.</text>
        <text name="admin_reset_success" color="5, 255, 5">You have respawned %s client collectibles for %s (ID: %s).</text>
    </texts>
    <types>
        <type name="Totem" target="client" auto_load="true" toggle_command="totems" respawn_after_unit="minutes" respawn_after="1" />
        
        <type name="Heart" target="client" auto_load="false" toggle_keybind="f7" />
        
        <type name="Hidden_Package" target="server" auto_load="false" />
    </types>
    <actions>
        <action type="Totem" on="collect_one" sound="sounds/vc/pickup.ogg" sound_volume="1" reward_money="1000" />
        <action type="Totem" on="collect_all" sound="sounds/vc/pickup2.ogg" sound_volume="1" />
        
        <action type="Heart" on="collect_one" sound="sounds/vc/checkpoint.ogg" sound_volume="1" />
        <action type="Heart" on="collect_all" sound="sounds/vc/pickup.ogg" sound_volume="1" />
        
        <action type="Hidden_Package" on="collect_one" sound="sounds/vc/notification.ogg" sound_volume="1" />
        <action type="Hidden_Package" on="collect_all" sound="sounds/vc/pickup2.ogg" sound_volume="1" />
    </actions>
    <spawnpoints>
        <spawnpoint type="Totem" id="1" model="1276" x="-3.1806640625" y="21.4326171875" z="3.1171875" interior="0" dimension="0"></spawnpoint>
        <spawnpoint type="Totem" id="2" model="1276" x="1.302734375" y="24.666015625" z="3.1096496582031" interior="0" dimension="0"></spawnpoint>
        <spawnpoint type="Totem" id="3" model="1276" x="-36.49609375" y="-80.818359375" z="1003.546875" interior="18" dimension="0"></spawnpoint>

        <spawnpoint type="Heart" id="1" model="1240" x="0" y="-5" z="3" />
        <spawnpoint type="Heart" id="2" model="1240" x="5" y="-5" z="3" />
        <spawnpoint type="Heart" id="3" model="1240" x="10" y="5" z="3" />
        <spawnpoint type="Heart" id="4" model="1240" x="15" y="5" z="3" />
        <spawnpoint type="Heart" id="5" model="1240" x="-17.54" y="-90.11" z="1003.55" interior="18" dimension="0" />
        
        <spawnpoint type="Hidden_Package" id="1" model="1279" x="5" y="10" z="3" />
        <spawnpoint type="Hidden_Package" id="2" model="1279" x="-5" y="10" z="3" />
    </spawnpoints>
</config>
